
html, body {

    padding: 0;
    
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

.App {
    height: 100vh;
    font-family: sans-serif;
    background-color: grey;
  }

  .Header {
    display: flex;
    background-color: blanchedalmond;
    padding: 1%;
  }
  
  .Success {
    margin:auto;
    margin-left: 10%;
    color: lightgreen;
  }

  .Unsuccess {
    margin:auto;
    margin-left: 10%;
    color: red;
  }

  .VideoInput {
    margin: 1%;
    display: flex;
    /* overflow: scroll; */
    width: 98%;
    border: 1px grey solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
    background-color: grey;
  }
  
  .VideoInput_input {
    opacity:0;
    height:0;
    width:0;
  }
  
  .VideoInput_video {
    width:fit-content;
    background-color: grey;
    margin: 0;
    padding: 5px;
    border-radius: 20px;
  }
  
  
  .container {
    margin: 1%;
    display: flex;
    overflow: scroll;
    width: 98%;
    border: 1px grey solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    background-color: grey;
  }
  
  .container input {
    width: 100%;
    min-width: 50%;
    border: none;
    border-radius: 5px;
    padding: 14px;
    padding-left: 14px;
    background-color: lightgray;
    outline: 0;
  }
  
  .tag {
    display: flex;
    align-items: center;
    margin: 7px 0;
    margin-right: 10px;
    padding: 0 10px;
    padding-right: 5px;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: orange;
    white-space: nowrap;
    color: white;
  }
  
  .tag button {
    display: flex;
    padding: 6px;
    border: none;
    background-color: unset;
    cursor: pointer;
    color: white;
  }



  .file {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-content: space-between;
    padding: 5px;
    width: 100%;
  }

  .file button {
    padding: 5%;
    margin:auto;
    border-radius: 15px;
    background-color: lightgray;
  }

  .SubmitUpload button{
    font-size: xx-large;
    width: 80%;
    margin: 10%;
    margin-top: 5%;
    padding: 3%;
    border-radius: 25px;
    background-color: lightgrey;
  }


.Profile {
    margin-left: 5%;
    border-radius: 100px;
}

h1 {
    margin-top: auto;
    margin-bottom: auto;
}

.filebutton {
    padding: 10px;
}